// colors
$cl-white: #FFFFFF;
$cl-white-80: #f8f8f8;
$cl-black: #000000;
$cl-black-90: #050505;
$cl-black-80: #1A1A1A;
$cl-gray: #5e6278;
$cl-gray-1: #6B7280FF;
$cl-gray-2: #6B6C6C;
$cl-red: #FF0000;
$cl-green: #39804f;
$cl-primary: #5DD381;

$text-primary: $cl-black;
$text-secondary: #6B7280;
$text-secondary-dark: #737373;
$text-secondary-2: #4D2B97;

$btn-primary: $text-secondary-2;
$btn-primary-hover: $text-secondary-2;
$btn-success: #78fa8c;
$btn-success-hover: #98FFA8;

$input-border: #D1D5DBFF;
$input-background: #F5F5F5;
$input-placeholder: #6B7280FF;

$border-grey-1: #e4e6ef;
$border-grey-2: #eff2f5;

$btn-secondary: #E5E7EB;
$btn-secondary-hover: $input-border;

